* {
    margin: 0px;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: rgb(219, 25, 48) ;
}



.link {
    color: white;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size:2.5vh;
}
.loan,.grievance,.profile{
    margin:10px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vh;
    color:darkblue;
   
}